.rounded-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid gray;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}

.rounded-checkboxnd {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid white;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.rounded-checkboxnd:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}